<div class="container mb-5">
  <%= render 'header' %>
  <div class="header__section">
    <h2>Competitive Gap Analysis</h2>
     <p>A Content Gap Analysis shows all of the keywords your competitors are currently ranking for which you are not ranking for. This can help find new keywords to target with content on your website.</p>
   </div>


    <div class="clearfix mb-2">
      <a class="btn btn-link float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        What do the columns mean?
      </a>
    </div>

    <div class="collapse" id="collapseExample">
      <hr>
      <div class="container">
        <div class="text__font-size--18 mb-4">Column Definitions</div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Keyword</div>
            <p class="text__font-size--12">The word/phrase you are ranking for in Google.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Volume</div>
            <p class="text__font-size--12">Total searches per month.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Difficulty</div>
            <p class="text__font-size--12">Competition level from 0 - 100 with 100 being the most competitive.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">CPC</div>
            <p class="text__font-size--12">Estimated Cost Per Click value.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Competitor [x]</div>
            <p class="text__font-size--12">Competitors position on the given keywords.</p>
          </div>
        </div>
      </div>
      <hr class="mb-5">
    </div>
   <div class="table-responsive">
     <table class="table table-sm hoth-tables">
      <thead>
        <tr>
          <th scope="col">Keyword</th>
          <th class="text__align--right" scope="col">Volume</th>
          <th class="text__align--right" scope="col">Difficulty</th>
          <th class="text__align--right" scope="col">CPC</th>
          <th class="text__align--right" scope="col">
            <div class="text--bold">Competitor 1</div>
            <div class="text--regular text__font-size--12 text__color--gray">nerdwallet.com</div>
          </th>
          <th class="text__align--right" scope="col">
            <div class="text--bold">Competitor 2</div>
            <div class="text--regular text__font-size--12 text__color--gray">nerdwallet.com</div>
          </th>
          <th class="text__align--right" scope="col">
            <div class="text--bold">Competitor 3</div>
            <div class="text--regular text__font-size--12 text__color--gray">nerdwallet.com</div>
          </th>
          <th class="text__align--right" scope="col">
            <div class="text--bold">Competitor 4</div>
            <div class="text--regular text__font-size--12 text__color--gray">nerdwallet.com</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>capitol one</td>
          <td class="text__align--right">7,260,000</td>
          <td class="text__align--right">49</td>
          <td class="text__align--right">0.6</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">--</td>
        </tr>
        <tr>
          <td>capitol one</td>
          <td class="text__align--right">7,260,000</td>
          <td class="text__align--right">49</td>
          <td class="text__align--right">0.6</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">--</td>
        </tr>
        <tr>
          <td>capitol one</td>
          <td class="text__align--right">7,260,000</td>
          <td class="text__align--right">49</td>
          <td class="text__align--right">0.6</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">--</td>
        </tr>
        <tr>
          <td>capitol one</td>
          <td class="text__align--right">7,260,000</td>
          <td class="text__align--right">49</td>
          <td class="text__align--right">0.6</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">66</td>
          <td class="text__align--right">--</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>