<div class="container mb-5">
  <%= render 'header' %>
  <div class="header__section">
    <h2>Keyword Research</h2>
     <p>These are the key terms that we have found relating to your niche that are currently trending. These are great to build content around!</p>
   </div>

  <div class="row mb-4">
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card panel">
        <div class="panel__title">Total Easy Wins</div>
        <div class="panel__metric">229</div>
        <div class="panel__trend"></div>
        <div class="panel__fine-print">Easy Wins are keywords in position 4-30, KD less than 30, and CPC from .01</div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <div class="card panel">
        <div class="panel__title">Want to change keywords?</div>
        <p class="text__font-size--14">If you’d like to add, remove, or edit Easy Wins keywords, contact support.</p>
        <a href="#" class="text__font-size--14">Contact Support</a>
      </div>
    </div>
  </div>


    <div class="clearfix mb-2">
      <a class="btn btn-link float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        What do the columns mean?
      </a>
    </div>

    <div class="collapse" id="collapseExample">
      <hr>
      <div class="container">
        <div class="text__font-size--18 mb-4">Column Definitions</div>
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Keyword</div>
            <p class="text__font-size--12">The word/phrase you are ranking for in Google.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Position - Now</div>
            <p class="text__font-size--12">Your current position.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Position - Past</div>
            <p class="text__font-size--12">Past rank position.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Position - Trend</div>
            <p class="text__font-size--12">Indicates the movement in position</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Volume</div>
            <p class="text__font-size--12">Total searches per month</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">URL</div>
            <p class="text__font-size--12">The page ranking for that keyword</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Difficult</div>
            <p class="text__font-size--12">Competition level from 0 - 100 with 100 being the most competitive.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Traffic</div>
            <p class="text__font-size--12">Current estimated organic traffic to your site for this keyword.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">CPC</div>
            <p class="text__font-size--12">Estimated Cost Per Click value.</p>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-3">
            <div class="text__font-size--12 text--bold">Priority</div>
            <p class="text__font-size--12">Our calculated priority of each item based on research.</p>
          </div>
        </div>
      </div>
      <hr class="mb-5">
    </div>
   <div class="table-responsive">
     <table class="table table-sm hoth-tables">
      <thead>
        <tr>
          <th scope="col">Keyword</th>
          <th class="text__align--right" scope="col">Volume</th>
          <th class="text__align--right" scope="col">Difficulty</th>
          <th class="text__align--right" scope="col">CPC</th>
          <th scope="col">Trend</th>
          <th scope="col">Last Updated</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>personal loan lead generator</td>
          <td class="text__align--right">4,128</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">0.98</td>
          <td></td>
          <td>Jul 18, 2018</td>
        </tr>
        <tr>
          <td>personal loan lead generator</td>
          <td class="text__align--right">4,128</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">0.98</td>
          <td></td>
          <td>Jul 18, 2018</td>
        </tr>
        <tr>
          <td>personal loan lead generator</td>
          <td class="text__align--right">4,128</td>
          <td class="text__align--right">1</td>
          <td class="text__align--right">0.98</td>
          <td></td>
          <td>Jul 18, 2018</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>