/*------------------------------------*\
    #LINKS
\*------------------------------------*/


a {
  text-decoration: none;
  color          : $color__blue--base;
  cursor         : pointer;
  font-weight    : inherit;
  transition     : color $transition;

  &:hover, &:focus {
    color        : darken($color__blue--base, 10%);
  }


}

.link--white {
  color          : white;
  font-weight    : $font-weight--bold;

  &:hover, &:focus {
    color        : white;
  }
}