/*------------------------------------*\
    #HOTH TABLES
\*------------------------------------*/

.hoth-tables {
  border-radius      : $border-radius;
  box-shadow         : $box-shadow;
  background-color   : white;
  border             : 1px solid $color__gray--light;

  thead {
    font-size        : 12px;
    color            : $color__black--base;

    th {
      padding-top    : 12px;
      padding-bottom : 12px;
      border-color   : $color__gray--light;
      cursor         : pointer;

      &:first-of-type {
        padding-left : 16px;
      }

      &:last-of-type {
        padding-right: 16px;
      }

      &:hover, &:focus {
        color        : darken($color__blue--base, 10%);
      }
    }
  }

  td {
    padding-top      : 12px;
    padding-bottom   : 12px;
    font-size        : 14px;
    color            : $color__black--base;
    border-color     : $color__gray--light;

    &:first-of-type {
      padding-left   : 16px;
    }

    &:last-of-type {
      padding-right  : 16px;
    }
  }
}

.hoth-tables--dark {
  background-color   : transparent;

  thead {
    color            : white;
  }

}

.hoth-tables--simple {
  border             : none;
  box-shadow         : none;

  thead {
    font-size        : 12px;
    border-color     : white;
    th {
      border-top     : none;

      &:first-of-type {
        padding-left : 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  td { 
    color            : white;
    border-color     : white;
    padding-top      : 12px;
    padding-bottom   : 12px;
    font-size        : 12px;
    color            : white;
    border-color     : white;

    &:first-of-type {
      padding-left   : 0;
    }

    &:last-of-type {
      padding-right  : 0;
    }
  }
}