$color__black--base : #464646;

$color__red--base: #E1443D;

$color__blue--med   : #4A9EAA;
$color__blue--base  : #0D7E8E;

$color__green--base: #0DB22A;

$color__gray--light : #EDEDED;
$color__gray--med   : #D9D9D9;
$color__gray--base  : #9B9B9B;
$color__gray--dark  : #646464;

$color__orange--base: #F49742;