<div class="container pb-5">
  <%= render 'header' %>
  <div class="header__section">
	  <h2>Keyword Rankings</h2>
	  <p>These are currently the keywords you are ranking for within the top 100 positions on Google.</p>
	</div>

  <!-- Card 1 -->
    <div class="row mb-4">
    	<div class="col-sm-12 col-md-4 col-lg-4">
    	  <div class="card panel">
    	  	<div class="panel__title">Total Keywords</div>
          <div class="panel__metric-container clearfix mb-4">
    	  	  <div class="panel__metric">14.3K</div>
    	  	  <div class="panel__trend"></div>
          </div>
    	  	<div class="panel__title">Total Traffic</div>
    	  	<div class="panel__metric-container clearfix mb-2">
            <div class="panel__metric">229</div>
            <div class="panel__trend"></div>
          </div>
          <div class="panel__fine-print">Total keywords measure the total amount of keywords your domain is currently ranking for. Total traffic is the total amount of visits.</div>
    	  </div>
    	</div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <div class="card panel">
        	<div class="panel__title">Traffic</div>
        	<canvas id="totalTrafficChart" width="auto" height="100px" class="mb-3"></canvas>
      </div>
    </div>
  </div>

    <div class="clearfix mb-2">
      <a class="btn btn-link float-right" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        What do the columns mean?
      </a>
    </div>

    <div class="collapse" id="collapseExample">
    	<hr>
      <div class="container">
      	<div class="text__font-size--18 mb-4">Column Definitions</div>
      	<div class="row">
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Keyword</div>
      			<p class="text__font-size--12">The word/phrase you are ranking for in Google.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Position - Now</div>
      			<p class="text__font-size--12">Your current position.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Position - Past</div>
      			<p class="text__font-size--12">Past rank position.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Position - Trend</div>
      			<p class="text__font-size--12">Indicates the movement in position</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Volume</div>
      			<p class="text__font-size--12">Total searches per month</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">URL</div>
      			<p class="text__font-size--12">The page ranking for that keyword</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Difficult</div>
      			<p class="text__font-size--12">Competition level from 0 - 100 with 100 being the most competitive.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Traffic</div>
      			<p class="text__font-size--12">Current estimated organic traffic to your site for this keyword.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">CPC</div>
      			<p class="text__font-size--12">Estimated Cost Per Click value.</p>
      		</div>
      		<div class="col-sm-12 col-md-4 col-lg-3">
      			<div class="text__font-size--12 text--bold">Priority</div>
      			<p class="text__font-size--12">Our calculated priority of each item based on research.</p>
      		</div>
      	</div>
      </div>
      <hr class="mb-5">
    </div>
   <div class="table-responsive">
		 <table class="table table-sm hoth-tables">
		  <thead>
		    <tr>
		      <th scope="col">Keyword</th>
		      <th scope="col">Now</th>
		      <th scope="col">Past</th>
		      <th scope="col">Trend</th>
		      <th scope="col">Volume</th>
		      <th scope="col">URL</th>
		      <th scope="col">Difficulty</th>
		      <th scope="col">Traffic</th>
		      <th scope="col">CPC</th>
		      <th scope="col">Last Update</th>
		      <th scope="col">PP</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td>No credit check loans</td>
		      <td>6</td>
		      <td>4</td>
		      <td><div class="panel__trend panel__trend--positive">+2</div></td>
		      <td>11000</td>
		      <td>https://bonsaifinance.com/loans-with-no-credit-check/</td>
		      <td>14</td>
		      <td>917</td>
		      <td>3</td>
		      <td>Oct 3, 2017</td>
		      <td>--</td>
		    </tr>
		    <tr>
		      <td>No credit check loans</td>
		      <td>6</td>
		      <td>4</td>
		      <td><div class="panel__trend panel__trend--negative">-1</div></td>
		      <td>11000</td>
		      <td>https://bonsaifinance.com/loans-with-no-credit-check/</td>
		      <td>14</td>
		      <td>917</td>
		      <td>3</td>
		      <td>Oct 3, 2017</td>
		      <td>--</td>
		    </tr>
		    <tr>
		      <td>No credit check loans</td>
		      <td>6</td>
		      <td>4</td>
		      <td><div class="panel__trend panel__trend--positive">+4</div></td>
		      <td>11000</td>
		      <td>https://bonsaifinance.com/loans-with-no-credit-check/</td>
		      <td>14</td>
		      <td>917</td>
		      <td>3</td>
		      <td>Oct 3, 2017</td>
		      <td>--</td>
		    </tr>
		  </tbody>
		</table>
	</div>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>

</div>