<div class="panel">
  <div class="panel__title">Domain Authority</div>

  <div class="row">
    <div class="col-sm-12 col-med-6 col-lg-4 pt-2">
      <canvas id="gaugeDomainAuth"></canvas>

    </div>
    <div class="col-sm-12 col-med-6 col-lg-8">
      <canvas id="totalTrafficChart" width="auto" height="150px"></canvas>
    </div>
  </div>
</div>