<div class="panel">
  <div class="panel__title">Total Keywords</div>
  <div class="panel__metric">14.3K</div>
  <div class="panel__trend"></div>
  <div class="panel__fine-print">Last checked Jul 26, 2018</div>
</div>