<div class="panel">
  <div class="panel__title">Anchor Text Ratio</div>
  <div class="panel__metric-container clearfix">
    <div class="panel__metric float-left">88</div>
    <div class="panel__metric float-right">88</div>
  </div>
  <div class="pc pc--thick">
    <div class="pc__item-column" style="width: 75%;"></div>
    <div class="pc__item-column--right" style="width: 25%;"></div>
  </div>
</div>